.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #333;
  text-align: left;
  padding: 8px;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(
    to bottom,
    rgba(195, 212, 224, 0.86),
    #ebeff2
  );
  z-index: -999;
}
